<h2 class="fontface" id="titulo"><%=h @receita.titulo %></h2>
        
<div class="col_2 col rounded">
    <h3>Ingredientes:</h3>
    <%=h @receita.ingredientes %>
</div>

<div class="col_2 col rounded">
    <h3>Modo de Preparo:</h3>
	<%=h @receita.modo %>
</div>

<div class="col_2 col rounded">
    <h3>Observações:</h3>
    <%=h @receita.observacoes %>
</div>